.app {
  overflow: hidden;
}
.wrappers {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  @media screen and (max-width: 767.98px) {
    padding: 0 20px;
  }
}
.app-containers {
  margin-bottom: 70px;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.app-heading {
  $fontSize: 30px;
  font-size: $fontSize;
  line-height: calc(1.5 * $fontSize);
  font-weight: 600;
  color: #353945;
  margin-bottom: 34px;

  @media screen and (max-width: 767.98px) {
    $fontSize: 20px;
    font-size: $fontSize;
    line-height: calc(1.5 * $fontSize);
  }
}
.app-heading-center {
  text-align: center;
}
